In [9]:
import pandas as pd
from sklearn.cross_validation import train_test_split

my_file = pd.read_json("F:/graduate study/semester2/660/final project/train.json")
test_file = pd.read_json("F:/graduate study/semester2/660/final project/test.json")

train_data = pd.DataFrame(my_file)
test_data = pd.DataFrame(test_file)

train_data['interest_level'] = train_data['interest_level'].map({'low': -1, 'medium': 0,'high':1})

train_data = train_data[['bathrooms','bedrooms','price','latitude','longitude','interest_level']]
test_data = test_data[['bathrooms','bedrooms','price','latitude','longitude']]

In [12]:
train_data.head()

        bathrooms  bedrooms  price  latitude  longitude  interest_level
10            1.5         3   3000   40.7145   -73.9425               0
10000         1.0         2   5465   40.7947   -73.9667              -1
100004        1.0         1   2850   40.7388   -74.0018               1
100007        1.0         1   3275   40.7539   -73.9677              -1
100013        1.0         4   3350   40.8241   -73.9493              -1

In [13]:
test_data.head()

        bathrooms  bedrooms  price  latitude  longitude
0             1.0         1   2950   40.7185   -73.9865
1             1.0         2   2850   40.7278   -74.0000
100           1.0         1   3758   40.7306   -73.9890
1000          1.0         2   3300   40.7109   -73.9571
100000        2.0         2   4900   40.7650   -73.9845

In [14]:
y_train = train_data['interest_level'].values
x_train = train_data[['bathrooms','bedrooms','price','latitude','longitude']]
#x_train[:4]

x_test= test_data[['bathrooms','bedrooms','price','latitude','longitude']]

In [15]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train, y_train)
predicted = model.predict(x_test)
probs = model.predict_proba(x_test)

D:\anaconda\lib\site-packages\sklearn\linear_model\base.py:352: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)